
body, h1, h2, h3, h4, h5, h6, ul, ol, dl, p, img{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    width:100%;
    background-color: #fff9f9;
}
body{
    text-align: center;
}
header{
    background-color: #fff9f9;
}
section{
    background-color: #fff9f9;
}

#main{
    width: 100%;
    background-color: #fff9f9;
}
#section2{
    width: 100%;
    background-color: #fff9f9!important;
    height:950px;
}
#section3{
    background-color: #f6f6f6 !important;
}
#section4{
    background-color: #f6f6f6 !important;
}
#section4{
    background-color: #f6f6f6 !important;
}
#section5{
    background-color: #f12d3c !important;
}
#section6{
    background-color: #ffffff !important;
}
#section7{
    background-color: #ffffff !important;
}
#section8{
    background-color: #f6f6f6 !important;
}
#section9{
    background-color: #ffffff !important;
}
#section10{
    background-color: #ffffff !important;
}
#section11{
    background-color: #ffffff !important;
}
#section12{
    background-color: #ffffff !important;
}
#section13{
    background-color: #f6f6f6 !important;
}
#section14{
    background-color: #f6f6f6 !important;
}
#section15{
    background-color: #f6f6f6 !important;
}
#section16{
    background-color: #ffffff !important;
}

img {
    width: 100%;
    height:auto;
} 
#video{
    padding-top: 60px;
}